/* Style for the general layout */
body {
    font-family: Arial, sans-serif; 
    background-color: #0f000f;
    margin: 0;
    padding: 0;
    color: #333;
}

.user-details, .voting-history {
    background-color: #2e004163;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 50% rgb(0, 0, 0);
    width: 80%;
    max-width: 800px;
}

.user-details h1, .voting-history h2 {
    color: #7e7e7e;
}

.user-info img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-info p {
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
}

